body {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 20px;
  margin: 0;
  line-height: 1.2;
}

.content {
  max-width: 500px;
  margin: 0 auto;
}

p, ul {
  text-align: left;
}

li {
  list-style: none;
}

.failing {
  color: red;
}

.passing {
  color: #1CD381;
  font-weight: bold;
}

.success {
  margin: 40px 0 20px 0px;
}

button {
  border: none;
  background-color: purple;
  color: white;
  padding: 15px 20px;
  font-size: 20px;
}

button:hover {
  background-color: #E037E0;
}
