body {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 18px;
}

li {
  list-style: none;
}

.failing {
  color: red;
}

.passing {
  color: #1CD381;
  font-weight: bold;
}

button {
  border: none;
  background-color: purple;
  color: white;
}
